<h2 mat-dialog-title style="color: var(--hgi-green); text-align: center">
	TÉRMINOS Y CONDICIONES
</h2>

<mat-dialog-content>
	<p>
		Los términos y condiciones contemplados en el presente documento reglamentan
		los derechos, deberes y obligaciones de quienes accedan a el empleo de la
		información y herramientas alojadas en https://hgio.co. Esta página web se
		encuentra administrativa y operativamente a cargo de HGIO HERRAMIENTAS DE
		GESTION INTEGRAL ORGANIZACIONAL SAS, en adelante HGIO. El uso de
		<strong href="https://hgio.co">https://hgio.co</strong> y sus herramientas,
		tiene fundamento en los objetivos de diagnóstico de cada uno de los
		instrumentos desarrollados. El(la) Participante(a) y/o usuario acepta los
		términos y condiciones expuestas a continuación, asumiendo entera
		responsabilidad frente a la lectura de este documento.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)">OBJETO. – </strong>Las herramientas
		alojadas en https://hgio.co, se destinarán para la recolección de datos
		considerados como necesarios para efectuar la medición de los parámetros de
		acuerdo con el instrumento de diagnóstico propuesto.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)">PARTICIPACIÓN VOLUNTARIA. – </strong
		>La participación en cualquiera de las herramientas alojadas en
		https://hgio.co, es voluntaria y con su uso, usted autoriza a HGIO el
		tratamiento de sus datos personales y demás datos suministrados.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)"
			>CONFIDENCIALIDAD Y PRIVACIDAD. – </strong
		>Todos los datos recopilados en las herramientas alojadas https://hgio.co,
		serán tratados de manera confidencial y se utilizarán únicamente para fines
		de medición del instrumento y prestación de servicios por parte de HGIO. La
		información recopilada se mantendrá bajo protocolos de seguridad y no será
		dada a conocer a terceros, los datos serán empleados en la labor comercial y
		de servicio de HGIO.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)"
			>PROTECCIÓN DE DATOS PERSONALES. – </strong
		>De conformidad con la Ley 1581 de 2012 y demás regulaciones vigentes sobre
		protección de datos personales, todos los datos recopilados se manejarán de
		acuerdo con los principios de privacidad y confidencialidad. La información
		proporcionada en las herramientas no se utilizará para ningún otro propósito
		que no sea el objeto social de HGIO.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)"
			>ADMINISTRACIÓN DE LA INFORMACIÓN. – </strong
		>HGIO, desarrolla y aplica el instrumento de diagnóstico, además se
		implementan todas las medidas razonables para garantizar la seguridad y
		protección de los datos recopilados.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)">USO DE LOS RESULTADOS. – </strong
		>Los resultados obtenidos mediante la aplicación de alguno de los
		instrumentos alojados en https://hgio.co, se utilizarán únicamente con fines
		comerciales y de apoyo al usuario que acceda a la herramienta. Los informes
		generados a partir de los datos recopilados serán utilizados para
		identificar áreas de mejora y posibilitar el desarrollo de estrategias de
		intervención. Estos informes, no deben ser tomados como consejo profesional,
		HGIO no se hace responsable por el empleo de dichos datos, sin previo
		asesoramiento de expertos en el área.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)"
			>RESPONSABILIDAD DE LOS PARTICIPANTES. – </strong
		>Los participantes en este cuestionario son los únicos responsables de sus
		respuestas y apreciaciones.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)">PROPIEDAD INTELECTUAL. – </strong
		>Todos los contenidos alojados o disponibles en https://hgio.co, tales como
		textos, videos, gráficos, logotipos, iconos de botones, imágenes, clips de
		audio, descargas digitales y colecciones de datos, son propiedad exclusiva
		de HGIO y están protegidos por las leyes colombianas y los tratados
		internacionales sobre Propiedad Intelectual en los que participa.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)">USO DE COOKIES. – </strong
		>https://hgio.co utiliza cookies para recopilar información anónima sobre el
		tráfico de datos. Al aceptar las cookies, el usuario permite el acceso a
		información personal y la identificación de su computadora. Esta información
		se utiliza para analizar el tráfico del sitio y mejorar su contenido y
		usabilidad. HGIO puede conservar la información de acceso por tiempo
		indefinido para investigaciones de seguridad.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)"
			>LIMITACION DE RESPONSABILIDAD.– </strong
		>HGIO, no sera responsables de ningún daño directo, indirecto, incidental,
		especial, consecuente, ni de ninguna pérdida de beneficios o ingresos, que
		surjan del uso de este sitio web o sus herramientas.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)">MODIFICACION DE TERMINOS. – </strong
		>Nos reservamos el derecho de actualizar o modificar estos términos en
		cualquier momento, y los cambios serán efectivos al ser publicados en el
		Sitio Web. Usted es responsable de revisar los Términos regularmente.
	</p>
	<br />
	<p>
		<strong style="color: var(--hgi-green)"
			>ACEPTACIÓN DE TERMINOS Y CONDICIONES. – </strong
		>Al visitar y/o emplear las herramientas alojadas en https://hgio.co, se
		aceptan los términos y condiciones establecidos en este documento.
	</p>
	<br />
</mat-dialog-content>
