<form
	[formGroup]="forgotPassOrgForm"
	(ngSubmit)="onSubmit()"
	class="login-form-root"
>
	<select
		id="recoveryDocType"
		name="recoveryDocType"
		formControlName="recoveryDocType"
		class="hgio-input"
		placeholder="Seleccione tipo de documento"
		required
	>
		<option value="CC" selected>Cédula de ciudadanía</option>
		<option value="CE">Cédula de extranjería</option>
		<option value="PASSPORT">Pasaporte</option>
	</select>

	<input
		name="recoveryDocNumber"
		type="number"
		placeholder="Número de documento"
		class="hgio-input"
		formControlName="recoveryDocNumber"
	/>

	<input type="submit" class="hgio-button" value="Enviar código" />
</form>
