<form
	[formGroup]="resetPassForm"
	(ngSubmit)="onSubmit()"
	class="login-form-root"
>
	<div class="label-imput"><label for="">Código enviado al correo:</label></div>
	<input
		name="code"
		pattern="[0-9]{6}"
		maxlength="6"
		class="hgio-input"
		placeholder=""
		formControlName="code"
	/>

	<div class="label-imput"><label for="">Nueva contraseña:</label></div>
	<input
		name="new-password"
		type="password"
		class="hgio-input"
		placeholder=""
		formControlName="newPass"
	/>

	<div class="label-imput"><label for="">Confirma tu contraseña:</label></div>
	<input
		name="new-password-confirmation"
		type="password"
		class="hgio-input"
		placeholder=""
		formControlName="confPass"
	/>

	<input type="submit" class="hgio-button" value="Restablecer contraseña" />

	<span class="login-divider"></span>

	<button type="button" class="forgot-passwd-link" (click)="resend()">
		Reenviar código
	</button>

	<button type="button" class="forgot-passwd-link" (click)="cancel()">
		Cancelar
	</button>
</form>
