<div class="max-container">
	<div class="margin-container">
		<div class="help-container">
			<h1>¿Necesitas ayuda? ¡Contáctanos ahora!</h1>
			<ul>
				<li>
					<div class="phone"><mat-icon class="icon"> mail </mat-icon></div>
					{{ emailInfo }}
				</li>
				<li>
					<div class="phone whatsapp line">
						<mat-icon class="icon phone-hover" href="https://wa.link">
							phone
						</mat-icon>
					</div>
					<a class="phone-hover" href="https://wa.link">000 000 0000</a>
				</li>
				<li>
					<div class="phone whatsapp line">
						<mat-icon class="icon phone-hover" href="https://wa.link">
							phone
						</mat-icon>
					</div>
					<a class="phone-hover" href="https://wa.link">000 000 0000</a>
				</li>
				<li>
					<div class="phone"><mat-icon class="icon"> email </mat-icon></div>
					{{ emailDesarrollo }}
				</li>
				<li>
					<div class="phone">
						<mat-icon class="icon phone-hover"> language </mat-icon>
					</div>
					<a class="phone-hover line" href="">www.azka.com.co</a>
				</li>
			</ul>
		</div>
	</div>
</div>
